<ion-header>
  <ion-navbar>
    <ion-title>
      Single Post:  {{ post.title }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="bg">
   <ion-card-title>
        {{ post.title }}
      </ion-card-title>
  <p class="meta">Posted in <a href="/categories/show/{{post.category}}">{{post.category}} </a> by {{post.author}} on <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="postDate"></ion-datetime></p>
  <ion-card>
    <img src="https://trablog.herokuapp.com/images/{{post.mainimage}}">
    <ion-card-content text-left>

       <div class="discription" [innerHTML]="post.body" ></div>

 <ion-row >
      <ion-col>

          <agm-map
                  [latitude]="lat"
                  [longitude]="lng"
                  [zoom]="16">
              <agm-marker
                      [latitude]="lat"
                      [longitude]="lng"></agm-marker>
          </agm-map>
      </ion-col>
    </ion-row>

        <ion-grid *ngIf="weather">
            <h2>Today's weather Information of this place</h2>

            <ion-row>
                <ion-col width-100>
                    <ion-list>
                        <ion-item>
                            <strong>Temp: </strong> {{weather.temperature_string}}
                        </ion-item>
                        <ion-item>
                            <strong>Relative Humidity: </strong> {{weather.relative_humidity}}
                        </ion-item>
                        <ion-item>
                            <strong>Dewpoint: </strong> {{weather.dewpoint_string}}
                        </ion-item>
                        <ion-item>
                            <strong>Visibility: </strong> {{weather.visibility_mi}}
                        </ion-item>
                        <ion-item>
                            <strong>Heat Index: </strong> {{weather.heat_index_string}}
                        </ion-item>
                    </ion-list>
                </ion-col>
            </ion-row>
        </ion-grid>



       <h3 class="comment-title">Comments</h3>
        <div *ngFor="let comment of post.comments; let i = index">
          <hr>
    <div text-left>
     <div class="comment"><p class="comment-name">{{comment.name}}</p><p class="comment-body">{{comment.body}}</p></div>
    </div>
  </div>
    </ion-card-content>
  </ion-card>


   <ion-card>
     <h3 padding class="comment-title">Add Comments</h3>
   <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <ion-list>
      <ion-item>
        <ion-label fixed>Name</ion-label>
        <ion-input
          type="text"
          placeholder="Name"
          name="name"
          ngModel
          required></ion-input>
      </ion-item>
        <ion-item>
        <ion-label fixed>Email</ion-label>
        <ion-input
          type="email"
          placeholder="Email"
          name="email"
          ngModel
          required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Comment Text</ion-label>
        <ion-textarea
          name="body"
          ngModel
          required></ion-textarea>
      </ion-item>
    </ion-list>
    <ion-grid>
       <ion-row>
           <ion-col>
               <button
                       ion-button
                       color="secondary"
                       block
                       type="submit"
                       [disabled]="!f.valid">
                   Add Comment
               </button>
           </ion-col>
       </ion-row>
   </ion-grid>
  </form>
   </ion-card>

    <ion-row *ngIf="this.isLoggedIn">
        <ion-col>
            <button
                    ion-button
                    color="danger"
                    block
                    type="DELETE"
                    onClick="return confirm('Are you sure you want to delete?')"
                    (click)="onDelete(post._id)">
                DELETE
            </button>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <button
                    class="button"
                    ion-button
                    icon-right
                    block
                    padding-vertical
                    color="primary"
                    (click)="sharePost(post.title, post.mainimage, post._id)">
                Share this
                <ion-icon ios="ios-share" md="md-share"></ion-icon>
            </button>
        </ion-col>
    </ion-row>
</ion-content>




