doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    

  body
      .container.logo
          img.logo(src='/images/travel-logo.jpg')
       .container.nav
          nav.navbar.navbar-expand-lg
           #navbarNav.collapse.navbar-collapse
            ul.navbar-nav
            if login
                  li.nav-item
                  a.nav-link(href='/') Home
                  li.nav-item
                  a.nav-link(href='/posts/add') Add Post
                  li.nav-item
                  a.nav-link(href='/categories/add') Add Category
                  li.nav-item
                  a.p-2.text-white.nav-link(href="/users/logout") Logout
            else
                li.nav-item
                 a.nav-link(href='/') Home
                 li.nav-item
                 a.p-2.text-white.nav-link(href="/users/login") Login
                 li.nav-item
                 a.p-2.text-white.nav-link(href="/users/register") Register

          != messages()
    .container
       block content
    footer
     p WebSign &copy; 2018
