extends layout

block content
    h1=title
    ul.errors
        if errors
           each error, i in errors
                li.alert.alert-danger #{error.msg}
    form(method='post', action='/users/login')
        .form-group
            label User Name:
            input.form-control(name='username', type='text' required)
            br
            label Password:
            input.form-control(name='password', type='password')
            br
            input.btn.btn-default(name='submit',type='submit',value='Submit' required)