page-login {

  h2{
    text-align: center;
  }

  form{
    padding: 10px 10px 20px 10px;
    border: 1px solid #BFBFBF;
    background-color: white;
    box-shadow: 10px 10px 5px #aaaaaa;
  }
  .bg{
    background: linear-gradient(to bottom, #cfecf0 0%, #ffffff 100%);
  }
}
